@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana,Geneva,Tahoma,sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{ margin: 0px;
    padding: 0px;

}

html,body {
    min-height: 100vh;
   background-color: darkgrey;
   font-family: var(--fonte1);

}

header{
    background-color: black;
    color:white;
    text-align: center;
    font-family: var(--fonte2);
}

header>h1{
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 10vw;
}

header>p{
    color:white;
    padding-bottom: 50px;
}

header a,footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover ,footer a:hover{
    text-decoration: underline;
    color: blue;
}

footer{
    text-align: center;
    background-color: black;
    padding: 8px;
}

footer>p{
    color: white;
}

section{
    padding-top: 15vh;
    padding-bottom:  15vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;

    
}

section.normal{
    background-color: white;
    color: rgb(17, 14, 14);
    
}

section.imagem{
    background-color: rgba(73, 73, 73, 0.521);
    color: white;
    box-shadow: 6px 6px 13px 0px rgb(17, 15, 15);
    background-attachment: fixed;

}

section.imagem>p{
    padding-right: 50px;
    padding-left:5px;
    background-color: rgba(20, 20, 20, 0.377);
    
    
}

section>p{
    display: inline-block;
    padding: 5px;

}


section#img01{
background-image: url('../Cordel-Projeto/imagens/background001.jpg');
background-position: right center;
background-size: cover;
}

section#img02{
background-image: url('../Cordel-Projeto/imagens/background002.jpg');
background-position: right center;
background-size: cover;
}